@import url("../main.css");
@import url("./navbar.css");
body {
  margin: 0;
  background: linear-gradient(90deg, #8a54ff, #3b8dff);
  color: #000;
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

/* کانتینر کلی */
.container {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.container-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 100%;
  direction: rtl;
}
/* بخش اصلی وسط */
main {
  background: #d3d0ce;
  border-radius: 12px;
  flex: 1;
  padding: 40px 30px;
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 400px;
  text-align: center;
}

.container-center h2 {
  flex: 1;
  font-weight: 700;
  font-size: 1.4rem;
  margin-bottom: 30px;
}

.container-center p {
  flex: 1;
  margin-top: 30px;
  font-size: 0.9rem;
  color: #444;
}

.container-center img {
  width: 100%;
  height: 100%;
  max-width: 470px;
  height: auto;
  user-select: none;
}

@media screen and (max-width: 900px) {
  .container {
    flex-direction: column;
    max-width: 100%;
    border-radius: 0;
    min-height: 100vh;
  }
}
