@import url("../../main.css");
@import url("../navbar.css");
body {
  margin: 0;
  background: linear-gradient(135deg, #7a4fff, #3e9aff);
  min-height: 100vh;
  color: #222;
  display: flex;
  justify-content: flex-end;
  direction: rtl;
  gap: 15px;
}

/* محتوای اصلی */
main {
  background: #d3d0ce;
  border-radius: 12px;
  flex: 1;
  padding: 25px 30px;
  margin: 50px;
  min-height: 480px;
  color: #222;
  overflow-y: auto;
  box-shadow: 0 0 10px rgb(0 0 0 / 0.1);
  user-select: text;
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.search-bar {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

label {
  font-weight: 700;
  font-size: 1.1rem;
  user-select: text;
}

.input-wrapper {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  background: #111;
  border-radius: 8px;
  overflow: hidden;
  color: #eee;
  height: 40px;
}

.input-wrapper iconify-icon {
  padding: 0 12px;
  font-size: 20px;
  color: #eee !important;
  flex-shrink: 0;
  user-select: none;
}

.input-wrapper input {
  background: transparent;
  border: none;
  color: #eee;
  font-size: 1rem;
  padding: 0 12px;
  width: 100%;
  height: 100%;
  direction: rtl !important;
  outline: none;
  user-select: text;
  font-family: "Vazirmatn", sans-serif;
}

.input-wrapper input::placeholder {
  color: #999;
}

.search-bar button {
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  background-color: #3e9aff;
  color: white;
  cursor: pointer;
}

.card-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  row-gap: 30px;
  max-height: calc(100% - 100px);
  overflow: hidden;
  overflow-y: auto;
}

.card {
  background-color: #333;
  color: white;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: min-content;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.card img {
  width: 100px;
  height: 100px;
  height: auto;
}

.card-content {
  padding: 20px;
}

.card-content h3 {
  margin: 0;
  font-size: 1.2rem;
  color: #ad46ff;
}

.card-content p {
  margin: 10px 0;
  font-size: 0.9rem;
}

.contact {
  background: linear-gradient(to right, #3e9aff, #ad46ff);
  color: white;
  padding: 10px;
  width: 100%;
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  .card {
    width: calc(50% - 20px);
  }
}

@media (max-width: 600px) {
  .card {
    width: 100%;
  }
}
