@import url("../../main.css");
@import url("../navbar.css");
body {
  margin: 0;
  background: linear-gradient(135deg, #7a4fff, #3e9aff);
  min-height: 100vh;
  color: #222;
  display: flex;
  justify-content: flex-end;
  direction: rtl;
  gap: 15px;
}

/* محتوای اصلی */
main {
  background: #d3d0ce;
  border-radius: 12px;
  flex: 1;
  padding: 25px 30px;
  margin: 50px;
  min-height: 480px;
  color: #222;
  overflow-y: auto;
  box-shadow: 0 0 10px rgb(0 0 0 / 0.1);
  user-select: text;
}

h2 {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.toggle-btn {
  text-align: center;
  margin-top: 20px;
  font-size: 1rem;
  color: #3e9aff;
  cursor: pointer;
}

.toggle-btn:hover {
  text-decoration: underline;
}

.table-container,
.chart-container {
  margin-top: 20px;
}

.table-container {
  display: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

table th,
table td {
  border: 2px solid #111;
  padding: 8px;
  text-align: center;
}

table th {
  background-color: #3e9aff;
  color: #fff;
}

.chart-container canvas {
  width: 100% !important;
  height: 100% !important;
  max-height: 400px;
  background-color: #151515;
  border-radius: 12px;
  color: #ffffff !important;
  padding: 10px;
}

@media (max-width: 600px) {
  .container {
    padding: 10px;
  }

  h2 {
    font-size: 1.4rem;
  }

  .chart-container canvas {
    height: 250px !important;
  }
}
